<p>Six works!</p>

//two way binding     <br>
<input type="text" [(ngModel)]="name" />      //ex: like value (import FormsModule) <br>
<p>{{ name }}</p>                             // variable value changes while typing (sync) <br><br>

<div>
    <input type="text" [(ngModel)]="name" />
    <select [(ngModel)]="activeBox">
        <option selected value="">Select a box</option>
        <option value="1">One</option>
        <option value="2">Two</option>
    </select>
    {{ activeBox }}
</div>

<div class="container">
    <div class="box" [ngClass]="{'active-1' : activeBox === '1'}">
       {{ name }}
    </div>                

    <div class="box" [class.active-2] = "activeBox === '2'">
       {{ name }}
    </div>
</div>

<div class="container">
    <div class="box" [ngStyle]="{'font-size' : (activeBox === '1') ? '25px' : '10px'}">
        {{ name }}
    </div>
</div>

<div class="container">
    <div class="box" [style.font-size]="(activeBox === '2') ? '35px' : '20px'">
        {{ name }}
    </div>
</div>