<h1>HELLO ALAN</h1>
<button mat-raised-button color="primary">Submit</button>

<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      This is a Dog
    </mat-card-content>
  </mat-card>

  <mat-icon>home</mat-icon>
  <mat-icon aria-hidden="false" fontIcon="settings"></mat-icon>
  <button> <mat-icon>home</mat-icon> </button>
  <button mat-icon-button> <mat-icon>home</mat-icon> </button>



  <br>



  <mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">

    <mat-drawer #drawer [mode]="mode.value" >
        <a mat-list-item>Dashboard</a> <br>
        <a mat-list-item>Services</a>
    </mat-drawer>

    <mat-drawer-content>
      <mat-form-field appearance="fill">
        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
  </mat-drawer-container>





<br>




  <mat-sidenav-container>
    <mat-sidenav opened>
            <a mat-list-item>Dashboard</a>
    </mat-sidenav>
  </mat-sidenav-container>

  <mat-drawer-container class="exCont">
    <mat-drawer mode="side" opened style="width: 200px;">
        <a routerLink="one"   mat-list-item>One</a> <br>
        <a routerLink="two"   mat-list-item>Two</a> <br>
        <a routerLink="three" mat-list-item>Three</a> <br>
        <a routerLink="four"  mat-list-item>Four</a> <br>
        <a routerLink="five"  mat-list-item>Five</a> <br>
        <a routerLink="six"   mat-list-item>Six</a>  <br>
    </mat-drawer>
    <mat-drawer-content style="height: 100%; background-color: darkblue;">
        <a>Alan routing concept</a>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>



